import { createRpcTransport, createRpcProxy } from "@gapp/client";
import { AppServiceClientImpl } from "./generated/service";

const transport = createRpcTransport({
  url: "/rpc",
});

const baseClient = new AppServiceClientImpl(transport);
export const rpc = createRpcProxy(baseClient);
