# Dependencies
node_modules/

# Build output
dist/
build/
*.tsbuildinfo

# Gapp dev artifacts
.gapp/

# Go binaries
cli/gapp-cli
cli/gapp
gapp-cli
examples/with-auth/server/server

# Gox source maps
*.go.map

# Dev test projects
cli/testapp/
cli/myapp/
cli/test/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
