import { defineConfig } from "vite";
import { gappPreloadPlugin } from "@gapp/client/vite";

export default defineConfig({
  plugins: [gappPreloadPlugin()],
  server: {
    proxy: {
      "/rpc": "http://localhost:8080",
    },
  },
  build: {
    outDir: "../server/public",
    emptyOutDir: true,
    manifest: true,
  },
});
